/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 20px;
}

* {
    box-sizing: border-box;
}
main img {
    width: 300px;
    height: 400px;
}

main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_text {
    width: 500px;
    text-align: justify;
}

/* Style the navbar */
nav {
    overflow: hidden;
    height: 50px;
    background-color: #e9e9e9;
}

/* Navbar links */
nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: auto 20px;
    padding: auto 10px;
}

nav ul li a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 17px;
}

main ul {
    list-style: none;
    margin-top: 10px;
}

main ul li a {
    float: left;
    display: block;
    color: black;
    background-color: #2196F3;
    /* color: white; */
    border-radius: 10px;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 17px;
}

main a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

/* Navbar links on mouse-over */
nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

/* Active/current link */
nav a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 10px;
}

nav a.selected {
    background-color: #2196F3;
    color: white;
    border-radius: 10px;
}

/* Style the input container */
nav .search-container {
    float: right;
}

/* Style the input field inside the navbar */
nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

/* Style the button inside the input container */
nav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

nav .search-container button:hover {
    background: #ccc;
}
footer {
    text-align: center;
    margin-bottom: 0;
    background-color: #000000;
    color: whitesmoke;
    height: 50px;
    padding: 15px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    nav .search-container {
        float: none;
    }

    nav a,
    nav input[type=text],
    nav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    nav input[type=text] {
        border: 1px solid #ccc;
    }
}